<?xml version="1.0"?>
<config>
    <modules>
        <SoftwareKeep_Popup>
            <version>0.1.0</version>
        </SoftwareKeep_Popup>
    </modules>
    <global>
        <helpers>
            <popup>
                <class>SoftwareKeep_Popup_Helper</class>
            </popup>
        </helpers>
        <blocks>
            <popup>
                <class>SoftwareKeep_Popup_Block</class>
            </popup>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <popup>
                    <file>popup.xml</file>
                </popup>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>SoftwareKeep_Popup.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
</config> 